<nav class="navbar navbar-expand-lg navbar-white shadow" style="background-color:#c25211;">
  <a class="navbar-brand" routerLink="/">
    <img style="width:55px ;" class="rounded-circle" src="../../../assets/images/logo.png">
  </a>
  <button class="navbar-toggler bg-dark d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li class="nav-item ">
        <a [ngClass]=" checkLogin ? 'nav-link text-white':' nav-link disabled' " routerLink="/user">User </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" checkLogin ? 'nav-link text-white':' nav-link disabled' " routerLink="/customer">Customer </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" checkLogin ? 'nav-link text-white':' nav-link disabled' " routerLink="/category">Category </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" checkLogin ? 'nav-link text-white':' nav-link disabled' " routerLink="/brand">Brand </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" checkLogin ? 'nav-link text-white':' nav-link disabled' " routerLink="/product">Product </a>
      </li>





    </ul>
    <ul *ngIf="!checkLogin" class="navbar-nav" style="margin-right:100px ;">
      <li class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
         Account
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" routerLink="/login">Login</a>
          <a class="dropdown-item" routerLink="/register">Register</a>
        </div>
      </li>

    </ul>
    <ul *ngIf="checkLogin" class="navbar-nav" style="margin-right:100px ;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" matTooltip="change avatar" routerLink="/upload-image">
            <img class="rounded" *ngIf="imageURL" style="width:50px ;" [src]="imageURL">
          </a>

          <a class="dropdown-item" routerLink="/profile" matTooltip="view info">
            view info
          </a>
          <a class="dropdown-item" matTooltip="logout" (click)="onLogout($event)">
            <mat-icon class="text-info"> logout </mat-icon>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
