<div class="header-blue">
  <div class="" style="padding:0 30px ;background-color: rgb(228, 223, 223);">
    <div class="row">
      <div class="col-lg-3"></div>

      <div class="col-lg-6 " style="padding: 10px ;">

        <div id="nav-search " style="margin-left: 50px;">
          <form id="form-search" action="">
            <div class="left">
              <mat-card style="padding: 0px 10px;border-radius: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;margin-top: 15px;">
                  <input #search matInput>
                  <mat-icon class="text-secondary" style="cursor:pointer;font-size: 30px;" (click)="onSearch(search)"
                    matSuffix>search</mat-icon>
                </mat-form-field>
              </mat-card>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>

  </div>



  <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search  shadow-lg"
    style="background-color: rgb(53, 38, 38) ;">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']">

        <img src="../../../assets/images/logo-1.jpg" class=" rounded-circle" style="width:59px ;">
        BOOT
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
          navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Link</a></li>

          <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false" href="#">Dropdown </a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" role="presentation" href="#">First
                Item</a>

              <a class="dropdown-item" role="presentation" href="#">Second Item</a>

              <a class="dropdown-item" role="presentation" href="#">Third Item</a>
            </div>
          </li>
        </ul>
        <user-state></user-state>

      </div>
    </div>
  </nav>

</div>
