<nav class="navbar navbar-expand-lg navbar-white bg-white   shadow">
  <a class="navbar-brand" routerLink="/">

    <h3 class="text-success">Spring</h3>
  </a>
  <button class="navbar-toggler bg-dark d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li class="nav-item ">
        <a [ngClass]=" checkLogin ? 'nav-link text-secondary':'text-danger nav-link disabled' "   routerLink="/user"><strong>User</strong> </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" checkLogin ? 'nav-link text-secondary':'text-danger nav-link disabled' "  routerLink="/customer"><strong>Customer</strong> </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" checkLogin ? 'nav-link text-secondary':'text-danger nav-link disabled' "  routerLink="/category"><strong>Category</strong> </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" checkLogin ? 'nav-link text-secondary':'text-danger nav-link disabled' "  routerLink="/brand"><strong>Brand</strong> </a>
      </li>
      <li class="nav-item">
        <a [ngClass]=" checkLogin ? 'nav-link text-secondary':'text-danger nav-link disabled' "  routerLink="/product"><strong>Product</strong> </a>
      </li>
      <li *ngIf="checkLogin" class="nav-item">
        <a class="nav-link text-info" routerLink="/profile" matTooltip="view info">
          <strong>{{username}}</strong>
        </a>
      </li>
      <li *ngIf="checkLogin" class="nav-item">
        <a class="nav-link text-secondary" matTooltip="change avatar" routerLink="/upload-image">
          <!-- <img style="width:25px ;" *ngIf="!imageURL" src="../../../assets/images/user-upload.png"> -->
          <img class="rounded-circle"  *ngIf="imageURL" style="width:35px ;" [src]="imageURL">
        </a>
      </li>


      <li *ngIf="checkLogin" class="nav-item">
        <button matTooltip="logout" class="btn btn-light" (click)="onLogout($event)">
          <mat-icon class="text-info"> logout </mat-icon>
        </button>
      </li>

      <li *ngIf="!checkLogin" class="nav-item dropdown">
        <a class="nav-link text-secondary dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <strong>Account</strong>

        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" routerLink="/login">Login</a>
          <a class="dropdown-item" routerLink="/register">Register</a>
        </div>
      </li>

    </ul>

  </div>
</nav>

