<div class="container-fluid bg-light  p-4" style="background-color: rgb(218, 193, 160);">
  <div class="row">
    <div class="col-md-3">
      <sidebar></sidebar>
    </div>
    <div class="col-md-9">
      <mat-card style="padding: 30px 90px;">
        <h5>Set new password</h5>
        <mat-card-content>
          {{ time | async }}
          <div class="alert alert-primary" role="alert" *ngIf="message&&success">
            <strong>{{message}}</strong>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="message&&!success">
            <strong>Password cant not change,{{message}} </strong>
          </div>
          <form [formGroup]="passwordForm" (submit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline" style="width: 400px;">
                  <mat-label>Current Password</mat-label>
                  <input type="password" matInput formControlName="currentPassword" name="currentPassword">
                  <mat-error *ngIf="errorHandling('currentPassword', 'required')">
                    currentPassword is required
                  </mat-error>
                  <mat-error *ngIf="errorHandling('currentPassword', 'minlength')">
                    currentPassword minlength is 6 character
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline" style="width: 400px;">
                  <mat-label>New Password</mat-label>
                  <input type="password" matInput formControlName="newPassword" name="newPassword">
                  <mat-error *ngIf="errorHandling('newPassword', 'required')">
                    New Password is required
                  </mat-error>
                  <mat-error *ngIf="errorHandling('newPassword', 'minlength')">
                    New Password minlength is 6 character
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">

                <mat-form-field appearance="outline" style="width: 400px;">
                  <mat-label>Confirm Password</mat-label>
                  <input type="password" #confirm matInput formControlName="confirmPassword" name="confirmPassword">
                  <mat-error *ngIf="errorHandling('confirmPassword', 'required')">
                    Confirm Password is required
                  </mat-error>
                  <mat-error *ngIf="errorHandling('confirmPassword', 'minlength')">
                    Confirm Password minlength is 6 character
                  </mat-error>
                </mat-form-field>
                <div *ngIf="notMatch" class="alert alert-danger" role="alert">
                  <strong>Password none match</strong>
                </div>


              </div>
              <div class="col-md-12 mt-2">
                <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
                  <button mat-button type="submit" mat-raised-button color="primary" [disabled]="!passwordForm.valid"
                    [matTooltip]=" passwordForm.valid?'save':''">save</button>

                  <mat-button-toggle (click)="onPre()" matTooltip="cancel" value="green">Cancel</mat-button-toggle>

                </mat-button-toggle-group>
              </div>

            </div>
          </form>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

</div>
