<div class="container-fluid">

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-fluid hero">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
              <h1>Spring boot shop.</h1>
              <p>The Spring Framework provides a comprehensive programming and configuration model for modern Java-based
                enterprise
                applications - on any kind of deployment platform. </p><button
                class="btn btn-light btn-lg action-button" type="button">Learn More</button>
            </div>
            <div class="col-md-6 col-lg-6 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
              <div class="iphone-mockup">
                <img src="../../../assets/images/iphone.svg" class="device">
                <img src="../../../assets/images/iphone.svg" class="device">
                <img src="../../../assets/images/iphone.svg" class="device">

                <div class="screen">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
          <div class="container-fluid hero">
            <div class="row">
              <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Spring boot shop.</h1>
                <p>The Spring Framework provides a comprehensive programming and configuration model for modern Java-based
                  enterprise
                  applications - on any kind of deployment platform. </p><button class="btn btn-light btn-lg action-button"
                  type="button">Learn More</button>
              </div>
              <div class="col-md-6 col-lg-6 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                <div class="iphone-mockup">
                  <img src="../../../assets/images/iphone.svg" class="device">
                  <img src="../../../assets/images/iphone.svg" class="device">
                  <img src="../../../assets/images/iphone.svg" class="device">

                  <div class="screen">

                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="container-fluid hero">
            <div class="row">
              <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Spring boot shop.</h1>
                <p>The Spring Framework provides a comprehensive programming and configuration model for modern Java-based
                  enterprise
                  applications - on any kind of deployment platform. </p><button class="btn btn-light btn-lg action-button"
                  type="button">Learn More</button>
              </div>
              <div class="col-md-6 col-lg-6 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                <div class="iphone-mockup">
                  <img src="../../../assets/images/iphone.svg" class="device">
                  <img src="../../../assets/images/iphone.svg" class="device">
                  <img src="../../../assets/images/iphone.svg" class="device">

                  <div class="screen">

                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</div>
